[submodule "rofi-network-manager"]
	path = rofi-network-manager
	url = https://github.com/P3rf/rofi-network-manager.git
[submodule "sddm-astronaut-theme"]
	path = sddm-astronaut-theme
	url = https://github.com/uchabokeria/dotfiles.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "tmux/plugins/tmux-copycat"]
	path = tmux/plugins/tmux-copycat
	url = https://github.com/tmux-plugins/tmux-copycat
[submodule "tmux/plugins/tmux-cht-sh"]
	path = tmux/plugins/tmux-cht-sh
	url = https://github.com/kenos1/tmux-cht-sh
[submodule "tmux/plugins/tmux-continuum"]
	path = tmux/plugins/tmux-continuum
	url = https://github.com/tmux-plugins/tmux-continuum
[submodule "tmux/plugins/tmux-nerd-font-window-name"]
	path = tmux/plugins/tmux-nerd-font-window-name
	url = https://github.com/joshmedeski/tmux-nerd-font-window-name
[submodule "tmux/plugins/tmux-command-palette"]
	path = tmux/plugins/tmux-command-palette
	url = https://github.com/lost-melody/tmux-command-palette
[submodule "tmux/plugins/tmux-resurrect"]
	path = tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
[submodule "tmux/plugins/tmux-transient-status"]
	path = tmux/plugins/tmux-transient-status
	url = https://github.com/thesast/tmux-transient-status
