@import "colors.css";

* { font-family: "JetBrainsMono Nerd Font"; font-size: 12px; }

window#waybar {
  background: alpha(@bg, 0.85);
  color: @fg;
}

#workspaces button { padding: 0 8px; }
#clock, #pulseaudio, #network, #battery, #tray { padding: 0 10px; }

